In [25]:
from dotenv import load_dotenv
import pandas as pd
from lib.sql_code_parser import SqlCodeParser

load_dotenv()

True

In [26]:
sql_code_parser = SqlCodeParser(
    source_directory="source_code/sql_server",
    source_file_glob_pattern="**/*.sql",
    use_cache=True,
    debug=True
)

In [28]:
df = pd.read_csv('./results/service_candidates_cache.csv')
df.head()

,table_name,sql_operation,operation_type,procedure_name,combined_feature,cluster_label,service_name
0,Products,SELECT,READ,Ten_Most_Expensive_Products,Products Ten_Most_Expensive_Products READ,2,Products
1,Products,SELECT,READ,CustOrdersDetail,Products CustOrdersDetail READ,2,Products
2,Products,SELECT,READ,CustOrderHist,Products CustOrderHist READ,2,Products
3,Products,SELECT,READ,SalesByCategory,Products SalesByCategory READ,2,Products
4,Products,INSERT,WRITE,InsertProduct,Products InsertProduct WRITE,2,Products